* {
  background: #060606;
  color: #eaeaea;
  font-family: 'Open Sans', Arial, helvetica, sans-serif;
}
a {
  text-decoration: none;
  font-weight: bold;
}
#logo {
  background-image: url('webdev-emile-perron.jpg');
  background-size: cover;
  height: 205px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0% 3%;
  border-bottom: 1px solid whitesmoke;
}
h1 {
  margin-bottom: 0;
}
h1, h2 {
  background: none;
  font-family: 'Courgette', cursive;
  text-shadow: 1px 1px black;
  color: whitesmoke;
}
h2 {
  margin-left: 2%;
}
#headshot {
  background-image: url('headshot.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 90%;
  margin: 10px auto;
  border-radius: 10px;
}
h3 {
  text-align: center;
  border-bottom: 1px solid whitesmoke;
  border-top: 1px solid whitesmoke;
  font-size: 23px;
  white-space: nowrap;
}
.carousel div {
  display: none;
  text-align: center;
  padding: 15%;
  box-shadow: 1px 1px 1px #585858, 1px 1px 3px white;
  background-image: linear-gradient(#6a6769, #414242);
  color: #060606;
  font-weight: bold;
  height: 50px;
  margin-bottom: 10px;
  align-items: center;
}
.carousel div.active {
  display: flex;
}
.carousel-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.carousel-dots span {
  height: 10px;
  width: 10px;
  display: block;
  background-color: #a5a3a3;
  border-radius: 50%;
  margin: 10px;
}
.carousel-dots span.active {
  background-color: #212121;
}

.off-screen {
  position: absolute;
  right: 10000px;
}
.links {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 25px;
  background: none;
  padding: 2%;
}
.links a,
.links span {
  background: none;
}
.links span.diamond {
  background: whitesmoke;
  height: 7px;
  width: 7px;
  transform: rotate(45deg);
  margin: 0 auto;
}
.links a {
  margin: 8px;
}

@media only screen and (min-width: 750px){
 #logo {
   height: 600px;
   padding: 3%;
 }
 h1 {
   font-size: 50px;
 }
 ul, li {
   background: none;
   list-style: none;
 }
 .column {
   width: 38%;
   margin-left: 5%;
 }
 .row {
   display: flex;
   align-items: center;
 }
 #headshot {
   width: 40%;
   background-position: center;
   float: right;
 }
 h3 {
   width: 80%;
   margin: 2% auto;
   border-top: none;
   border-bottom: none;
 }
 .carousel div {
   height: 100px;
 }
 .links {
   width: 32%;
 }
}
